.first{
    display: flex ;
    justify-content: space-evenly ;
    
}
.first-one{
    width: 50%;
}
.first-one h1{
    color: blueviolet;
    font-weight: bolder;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}
.first-one p{
    color: gray;
}
.first-one button{
    border: 1px solid blueviolet;
    border-radius: 25px;
    padding: 10px 20px;
    background-color: white;
}
.second-form{
    width: 50%;
}
.second-form h2{
    font-weight: bold ; 
}
.NEC input{
    width: 70%;
    height: 30px;
}
.country-one{
    width: 20%;
    height: 40px;
    background-color: white;
    border: 1px solid gray;
}
.select{
    width: 70%;
    height: 30px;
}
.number input{
    width: 49%;
    height: 35px;
    
}
.plan-one{
    width: 71%;
    height: 40px;
    background-color: white;
    border: 1px solid gray;
    margin-right: 5px;
}
.but1{
    background-color: blueviolet;
    color: whitesmoke;
    border: none;
    border-radius: 25px;
    padding: 10px 25px;
}
.but2{
    background-color: white;
    border: 1px solid red;
    color: red;
    border-radius: 25px;
    padding: 10px 25px;
}