.docForm {
    color: rgb(241, 239, 153);
    font-family: cursive;
    background-image: url(./img/2.avif);
    background-repeat: no-repeat;
    background-size:contain ;
    background-position: center;
}
.docForm{
    margin: 50px;
}
.docForm h1{
    font-size: 50px;
    font-weight: bolder;
    padding: 50px 310px 0px ;

}
.mainForm{
    padding: 0px 350px 20px;
}
.userPassword{
    display: flex;
    justify-content: space-between;
}
.userName input{
    background: none;
    border: 1px solid black;
    border-radius: 10px;
}
.password input{
    background: none;
    border: 1px solid black;
    border-radius: 10px;
}
.emailAdderss{
    display: flex;
    justify-content: space-between;
}
.email input{
    width: 210px;
    background: none;
    border: 1px solid black;
    border-radius: 10px;
}
.address input{
    width: 185px;
    background: none;
    border: 1px solid black;
    border-radius: 10px;
}
.address{
    padding-right: 5px;
}
.dateTime{
    display: flex;
    justify-content: space-between;
}
.doctorType{
    display: flex;
    justify-content: space-between;
}
.visitDate input{
    background: none;
    border: 1px solid black;
    border-radius: 10px;
}
.time input{
    background: none;
    border: 1px solid black;
    border-radius: 10px;
}
.time{
    padding-right: 70px;
}
.doctor select{
    background: none;
    border: 1px solid black;
    border-radius: 10px;

}
.symptoms input{
    color: black;
}
.but{
    padding-left: 200px;
}
.but button{
    background: none;
    /* background-color: rgb(11, 149, 204); */
    /* color: khaki; */
    border: 1px solid ;
    border-radius: 25px;
    padding: 10px 20px ;
}
.but :hover{
    background-color: darkgray;
}